<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My app</title>
</head>

<body>
	<div id="root">
		loading...
	</div>
	<script src="/bundle.js" charset="utf-8"></script>
</body>

</html>